// Colors
$lightest-orange: #fbb461;
$light-orange: #e69534;
$orange: #c67412;
$dark-orange: #a25902;
$darkest-orange: #7a4200;

$lightest-blue: #515aad;
$light-blue: #353F9F;
$blue: #1d2789;
$dark-blue: #101970;
$darkest-blue: #080f54;

$lightest-green: #44b177;
$light-green: #25a35f;
$green: #0d8c48;
$dark-green: #017336;
$darkest-green: #005628;

// Shades
$light-gray: #ccc;
$medium-gray: #888;
$dark-gray: #444;